table.wp-list-table {
	width: 100%;
	max-width: 100%;
	table-layout: auto;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.wp-list-table pre {
	white-space: pre-wrap;
	margin: 0;
}

.wp-list-table details summary {
	cursor: pointer;
}

.wp-list-table details pre {
	margin-top: 5px;
}

.wp-list-table code {
	background: transparent;
	padding: 0;
	font-size: 12px;
}

.wp-list-table td.column-crontrol_status {
	white-space: nowrap;
}

.wp-list-table td.column-cb,
.wp-list-table tbody th {
	border-left: 4px solid transparent;
}

.wp-list-table tr.crontrol-no-action th,
.wp-list-table tr.crontrol-warning th {
	border-color: #dba617;
}

.wp-list-table tr.crontrol-error th {
	border-color: #d63638;
}

.wp-list-table tr.crontrol-disabled .column-crontrol_next,
.wp-list-table tr.crontrol-disabled .column-crontrol_schedule,
.wp-list-table tr.crontrol-paused .column-crontrol_next,
.wp-list-table tr.crontrol-paused .column-crontrol_schedule,
.wp-list-table tr.crontrol-paused:not(.crontrol-no-action) .column-crontrol_actions {
	text-decoration: line-through;
}

.wp-list-table .column-crontrol_icon .dashicons,
.wp-list-table .check-column .dashicons {
	margin-left: 6px;
	font-size: 15px;
}

.wp-list-table .column-crontrol_icon .dashicons {
	margin-top: 2px;
}

.wp-list-table .qm-icon-edit {
	display: none;
}

.wp-list-table .column-crontrol_actions ol {
	margin: 0 0 0 1.2em;
}

.status-crontrol-warning,
.wp-list-table tr.crontrol-no-action td.column-crontrol_status,
.wp-list-table tr.crontrol-warning td.column-crontrol_status {
	color: #bd8600;
}

.status-crontrol-error,
.wp-list-table tr.crontrol-error td.column-crontrol_status {
	color: #d63638;
}

.status-crontrol-disabled .dashicons {
	background: #646970;
	border-radius: 50%;
	color: #fff;
	font-size: 14px;
	height: 14px;
	line-height: 14px;
	margin-top: 2px;
	padding: 1px;
	width: 14px;
}

.column-crontrol_time,
.column-crontrol_pro_last_run,
.column-crontrol_next {
	white-space: nowrap;
}

.row-actions .crontrol-in-use {
	color: #646970;
}

.form-field input[type="number"] {
	width: 100px;
}

input[type="time"][step="1"] {
	/* https://issues.chromium.org/issues/406424266 */
	min-width: 8.5em;
}

.crontrol-edit-event-url .crontrol-event-standard,
.crontrol-edit-event-url .crontrol-event-php,
.crontrol-edit-event-standard .crontrol-event-url,
.crontrol-edit-event-standard .crontrol-event-php,
.crontrol-edit-event-php .crontrol-event-url,
.crontrol-edit-event-php .crontrol-event-standard {
	display: none;
}

#crontrol-event-not-found {
	margin-top: 2em;
}

.crontrol-callout-container {
	position: relative;
}

.crontrol-callout-background {
	pointer-events: none;
	user-select: none;
}

.crontrol-callout-background .tablenav {
	display: none;
}

.crontrol-callout-background tbody td {
	filter: blur(2px);
}

.crontrol-callout-foreground {
	background: #fff;
	border: 2px solid var(--wp-admin-theme-color, #2271b1 );
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px;
	position: absolute;
	top: 10%;
	right: 20%;
	left: 20%;
	text-align: center;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.crontrol-callout-foreground h2 {
	font-size: 1.6em;
	color: #444;
	line-height: 1.5em;
	margin: 60px 0 40px;
	font-weight: 500;
}

.crontrol-callout-foreground h3 {
	font-size: 1.6em;
	font-weight: 500;
	line-height: 1.5em;
}

.crontrol-callout-foreground p,
.crontrol-callout-foreground li {
	font-size: 1.2em;
	line-height: 1.4em;
}

.crontrol-callout-foreground ul {
	margin: 40px 0;
}

.crontrol-callout-foreground li .dashicons-yes {
	color: var(--wp-admin-theme-color, #2271b1 );
	font-size: 1.2em;
	line-height: 1.2em;
	margin-right: 5px;
	display: inline-block;
}

.crontrol-callout-foreground .crontrol-logo {
	position: absolute;
	top: -52px;
	left: calc(50% - 52px);
	background: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	width: 100px;
	height: 100px;
}

.crontrol-callout-foreground .crontrol-pro-go {
	margin: 60px 0 20px;
}

.crontrol-callout-foreground a.button.button-hero {
	font-size: 1em;
}

.nav-tab .crontrol-tab-pill {
	background: var(--wp-admin-theme-color, #2271b1 );
	border-radius: 10px;
	color: #fff;
	display: inline-block;
	font-size: 9px;
	font-weight: 600;
	line-height: 1.3;
	margin-left: 4px;
	padding: 2px 7px;
	text-transform: uppercase;
	vertical-align: text-top;
}

@keyframes rotator {
	from {
		transform: rotate( 0deg );
	}
	to {
		transform: rotate( 360deg );
	}
}

.crontrol-rotating {
	animation: rotator 3s linear infinite;
}

@media (prefers-reduced-motion: reduce) {
	.crontrol-rotating {
		animation: none;
	}
}
